body {
    font-size: 0.875rem; /* 14px */
  }
   
 .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    width: 100px;
    text-align: right;
    margin-right: 5px;
    margin-left: 5px;
  }

  .sublabel {
    color:gray; 
    margin:4px; 
    font-size: 11px;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    font-size: 14px;
  }

  button[type="submit"] {
    padding: 10px 20px;
    background-color: #0050A0;
    border: none;
    cursor: pointer;
  }
  
  input[type="date"] {
    position: relative;
  }
  
  input[type="date"]:before {
    content: attr(placeholder);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.65);
    pointer-events: none;
    line-height: 1.5;
    padding: 10px 0.5rem 0 0.5rem;
  }
  
  input[type="date"]:focus:before,
  input[type="date"]:not([value=""]):before
  {
    display: none;
  }

  .custom-bg {
    background-color: #F7F7F9;
  }

  body {
    margin-top: 40px; /* This margin just makes the text easier to read. You can remove it if you want since it can mess with your other styles. */
  }
  
  body::before {
    content: "XS";
    color: red;
    font-size: 2rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
  }
  
  /* This box class is purely used for explaining how the bootstrap grid system works. */
  .box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
  }
  
  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }